.titulo{
    size: 13cm;
    color: coral;
}
#destacado{
    background-color: blue;
    color: yellow;
}
.contenido{
    color: darkmagenta;
    margin: 10%;
}
#especial{
  color: violet;
  background-color: #721422;
}